.about-contain {
    padding: 1%;
  }
  
  .about-contain h1 {
    text-align: center;
  }
  
  .about-contain hr {
    border: 2.5px solid #573B38;
    margin-bottom: 2%;
  }
    
  .about-who {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1.5fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding: 2%;
  }
  
  .who-text { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: #AF8683;
    border: 1px solid black;
    margin-left: 4%;
    height: 81.5%;
    padding: 2% 4%;
  }
  
  .who-text p {
    font-size: medium;
  }
  
  .who-text h1 {
    text-align: left;
    font-size: x-large;
  }
  
  .who-img {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .who-img img {
    width: 92%;
    height: 90%;
    border: 1px solid black;
  }
  
  .about-purpose { 
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0% 3.5% 3.5% 3.5%}
  
  .purpose-text {
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 2.5%;  
    background-color: #AF8683;
    border: 1px solid black;
    height: 81.5%;
    padding: 2% 4%;
  }
  
  .purpose-text p {
    font-size: medium;
  }
  
  .purpose-text h1 {
    text-align: left;
    font-size: x-large;
  }
  
  .purpose-img {
    grid-area: 1 / 1 / 2 / 2;
    height: 19.6rem;

  }
  
  .purpose-img img {
    margin-left: 1%;
    width: 92%;
    height: 90%;
    border: 1px solid black;
  }
  

  .about-sect {
    text-align: left;
    margin: 1% 0%;
    background-color:#AF8683;
    border: 4px dashed #573B38;
  }
  
  .asect-img {
    height: 8rem;
    width: 8rem;
    position: relative;
    left: 56rem;
    top: 4rem;
  }
  
  .asect-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  
  .a-sect {
    width: 45rem;
    position: relative;
    bottom: 4.5rem;
    left: 6rem;
    color: #d8d1cc;
  }
  
  .a-sect p {
    font-weight: 500;
  }
  