.contact-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 5%;
    }
    
  .contact-text { 
    grid-area: 1 / 1 / 2 / 2; 
    padding: 8%;
    padding-left: 17%;
  }
  
  .contact-text h1 {
    font-weight: bold;
    font-size: 40px;
  }
  
  .contact-text p {
    font-weight: 500;
    font-size: 23px;
    padding-right: 30%;
  }
  
  .contact-form { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #AF8683;
    border: 1px solid black;
    font-weight: 500;
    padding: 3%;
    margin-top: 10%;
    margin-right: 10%;
  }
  
  #contact_subject {
    height: 200px;
    width: 100%;
    padding: 2%;
    background-color: #CCC7C7;
    border: .5px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #fname, #lname {
    width: 100%;
    padding: 2%;
    background-color: #CCC7C7;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2.5%;
    resize: vertical;
  }
  
  #country {
    width: 50%;
    padding: 2%;
    background-color: #CCC7C7;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2.5%;
    margin-right: 44%;
    resize: vertical;
  }
  
  #mobile {
    width: 100%;
    padding: 2%;
    background-color: #CCC7C7;
    border: .5px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2.5%;
    resize: vertical;
  }
  
  #contact_submit {
    background-color: #573B38;
    color: #D0B7B4;
    font-weight: bold;
    padding: 2% 10%;
    margin-left: 36%;
    border: none;
    border-radius: 22px;
    cursor: pointer;
  }
  
  #contact_submit:hover {
    background-color: #7A524E;
  }
  