.edit-contain {
    margin: 2%;
}

.edit-title h2 {
    text-align: center;
}

/* .projects {
    padding: 2% 0%;
} */

.project {
    /* background-color: #AF8683;
    border: 2px solid #573B38; */
    width: 47.4rem;
    position: relative;
    left: 22rem;
    bottom: 24.8rem;
    margin: 1% 0%;
}

.project h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.p-desc {
    margin: 2%;
}

.project p {
    margin-left: 2%;
    font-weight: 500;
}

.project-img {
    height: 15px;
    width: 15px;
}

.project-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.update-project {
    float: right;
}