@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600italic,700,500,600,400italic");

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #D0B7B4;
  margin: 0;
}

.container {
  padding: 1% 2% 1% 2%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#account-icon, #shopping-icon, #heart-icon {
  color: #7A524E;
}

.header {
  /* display: grid;
  grid-template-columns: 1fr 1.2fr 1.1fr;
  grid-template-rows: .6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.header a {
  color: #7A524E;
  text-decoration: none;
}

.header .header-logo {
  /* grid-area: 1 / 1 / 2 / 2; */
  width: 10%;
  height: 10%;
  left: 43%;
}

.header-logo img {
  width: 22vw;
  height: 18vh;
  margin-left: 5%;
}

.search-container {
  width: 30%;
  background: #E8E3E3;
  border-style: solid;
  border-radius: 40px;
  border-color: #7A524E;
  padding: 0.6%;
  margin-left: 33%;
  margin-top: -6.5%;
}

.search-container form {
  padding: 2%;
}

#search-icon {
  background: transparent;
  border: transparent;
  color: #7A524E;
  font-size: 70%;
}

#search-input {
  background: transparent;
  border: transparent;
  color: black;
}

#search-input :active {
  border: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.header .header-items {
  width: 10%;
  display: flex;
  margin-left: 79%;
  margin-top: -5%;
  justify-content: space-between;
}

.header-items i {
  font-size: 60px;
  padding: 3% 12%;
}

#account-icon {
  size: 200px;;
}

/* .navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */

.navigation {
  overflow: hidden;
  font-weight: bold;
  margin-left: 17%;
  padding-top: 3%;
}

.navigation a {
  float: left;
  display: block;
  color: #573B38;
  text-align: center;
  padding: 20px 54px;
  text-decoration: none;
  font-size: 118%;
}

.navigation a:hover {
  background-color: transparent;
  color: #7A524E;
}

.navigation a.active {
  color: #7A524E;
}

#amigurumi, #clothing, #accessories, #pets {
  border-right: 3px solid #573B38;
}

.footer {
  background-color: #573B38;
  /* color: #573B38; */
  display: flex;
  flex-direction: column;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  height: 220px;
  width: auto;
  margin: 44px 40px;
  margin-left: 50px;
}

.footer-content {
  display: flex;
  width: 100%;
  height: 30vh;
}

.footer-content #foot-content-box {
  /* width: 47%; */
  display: flex;
}

@media screen and (max-width:800px) {
  .footer-content #foot-content-box {
    display: block;
  }

  .footer-links {
    padding-top: 8%;
  }

  .footer-links #footer-logout,
  .footer-links #footer-login {
    margin-top: 5%;
    margin-right: 60%;
  }

}

.footer .footer-content .footer-links a {
  color: #D0B7B4;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  margin-right: 70px;
  margin-top: 110px;
  margin-left: 42px;
  height: 35px;
}

.footer .footer-content .footer-links :hover {
  color: #A06F6A;
  font-size: medium;
  transition: 0.2s;
} 

hr {
  border: 1px solid #D0B7B4;
  width: 95%;
  margin: auto;
}

.footer-bottom {
  padding: 0 50px;
}

.footer-content .newsletter{
  text-align: center;
  vertical-align: middle;
}

.news-text {
  border-style: solid;
  border-radius: 30px;
  /* border: 10px; */
  border-color: #7A524E;
  background-color: #E8E3E3;
  padding: 1% 7%;
}

.news-email {
  width: 70%;
  border-style: solid;
  border-color: #7A524E;
  background-color: #E8E3E3;
  border-radius: 19px;
}

#news-email {
  width: 91%;
  border-radius: 19px;
  border-color: transparent;
  padding: 4%;
  background: transparent;
}

.news-submit{
  background-color: #7A524E;
  border-style: solid;
  border-radius: 20px;
  border-color: #A06F6A;
  width: 21%;
  padding: 2%;
  margin-left: 75%;
  margin-top: -19%;
}

#news-submit {
  background: transparent;
  border-radius: 11px;
  font: #D0B7B4;
  border-color: transparent;
}

.social {
  display:flex;
  color: #D0B7B4;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2%;
  padding: .5%;
  /* margin-left: -20px; */
}

.social p {
  color: #D0B7B4;
}

.social div a i {
  padding-left: 40px;
  color: #D0B7B4;
}

/* Welcome Page */

.carousel-contain {
  background-color: transparent;
}

.carousel-control.left, .carousel-control.right {
  background-image:none !important;
  filter:none !important;
}

.carousel,
.carousel-inner .item,
.carousel-inner img {
  height: 520px;
  width: 100%;
}