.account-contain {
    margin: 2%;
}

.account-title h1 {
    text-align: center;
}

.user-info span {
    background-color: grey;
    display: inline-block;
    position: absolute;
    width: 65px;
    height: 65px;
    left: 7.5%;
    top: 35.5%;
    margin: 3%;
    border-radius: 90px;
    border: 1px solid;
}

.user-info {
    background-color: #A06F6A;
    border: 3px solid #573B38;
    width: 20%;
    margin-left: 6%;
}

#pencil {
    position: relative;
    left: 38%;
    margin-bottom: 2%;
    font-size: 31px;
}

.userinfo-t {
    position: relative;
    width: 45%;
    left: 48%;
    padding: 2% 0%;
}

.user {
    grid-area: 1 / 1 / 2 / 2;
}

.user-signout {
    grid-area: 2 / 1 / 3 / 2;
}

.user-signout a {
    color: black;
}

.user-signout a:hover {
    font-weight: bold;
}

#account-icons {
    color: #573B38;
    font-size: 46px;
    margin-left: 6%;
    margin-top: 2%;}

.myprojects img {
    width: 17%;
    margin-left: 5%;
    margin-top: 3%;
}

.acc-tab p {
    text-align: center;
    position: relative;
    margin-top: -14%;
    padding: 2%;
    left: 26%;
    width: 52%;
}

.acc-tab-active p {
    text-align: center;
    position: relative;
    margin-top: -14%;
    padding: 2%;
    left: 26%;
    width: 52%;
}

.acc-tab-active {
    background-color: #AF8683;
    border: 3px solid #573B38;
    width: 20%;
    margin-left: 6%;
    margin-top: 1%;
}

.acc-tab {
    background-color: #A06F6A;
    border: 3px solid #573B38;
    width: 20%;
    margin-left: 6%;
    margin-top: 1%;
}

.acc-tab:hover {
    background-color: #AF8683;
}

.project, .project1 {
    background-color: #AF8683;
    border: 2px solid #573B38;
    width: 65%;
    height: 45%;
    /* position: absolute; */
    margin-left: 30%;
    margin-top: 2%;
}

.project {
    bottom: 14%;
}

.project1 {
    top: 95%;
}

.projects {
    margin-bottom: 1%;
    margin-top: -32%;
}

.project h1, .project1 h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.p-desc {
    margin: 2%;
}

.project p, .project1 p {
    margin-left: 2%;
    font-weight: 500;
}

.progress-bar {
    width: 96%;
    margin-left: 2%;
    height: 14px;
    background-color: #573B38;
    border: 1px solid;
}

.progress-tabs {
    display: grid;
    grid-template-columns: repeat(5, .5fr);
    grid-template-rows: .2fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.progress-tabs p {
    font-weight: bold;
    text-align: right;
}
    
.tab1 { grid-area: 1 / 1 / 2 / 2; }
.tab2 { grid-area: 1 / 2 / 2 / 3; }
.tab3 { grid-area: 1 / 3 / 2 / 4; }
.tab4 { grid-area: 1 / 4 / 2 / 5; }
.tab5 { grid-area: 1 / 5 / 2 / 6; }