.shop-title {
    background-color: #AF8683;
    border: 1px solid;
    /* width: 100%; */
    height: 180px;
}

.shop-title-text {
    padding: 2% 3%;
    /* width: 87%; */
    text-align: left;
}

.shop-main {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.shop-sidebar {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #A06F6A;
    border: 1px solid;
    padding: 8%;
}

.shop-sidebar hr {
    border: 1px solid;
}

.skill-level, .pricing {
  padding: 3% 0%;
}

.skill-level a, .shop-pricing a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.skill-level a:hover, .shop-pricing a:hover {
  color: #573B38;
}

#filter {
  margin-left: 1%;
  margin-top: 1%;
  padding: 1% 0%;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    accent-color: #CCC7C7;
    border: 1px solid black;
}

/* span {
    position: absolute;
    bottom: 46px;
} */

#label-v {
	margin-bottom: 1%;
	margin-left: 1%;
}

#label-v span {
  margin-bottom: 2%;
}

.shop-body {
    grid-area: 1 / 2 / 2 / 3;
    /* width: 78%;
    float: right;
    margin-top: -108%; */
}
