.shop-title {
    background-color: #AF8683;
    border: 1px solid;
    /* width: 100%; */
    height: 180px;
}

.shop-title-text {
    padding: 2%;
    width: 87%;
    text-align: left;
}

.shop-main {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.shop-sidebar {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #A06F6A;
    border: 1px solid;
    padding: 8%;
}

.shop-sidebar hr {
    border: 1px solid;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    accent-color: #CCC7C7;
    border: 1px solid black;
}

/* span {
    position: absolute;
    bottom: 46px;
} */

#label-v {
	margin-bottom: 1%;
	margin-left: 1%;
}

.shop-body {
    grid-area: 1 / 2 / 2 / 3;
    /* width: 78%;
    float: right;
    margin-top: -108%; */
}

/* Product Cards */

/* .pcards {
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .6fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .pcard1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .pcard2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .pcard3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  .pcard4 {
    grid-area: 1 / 4 / 2 / 5;
  }

  .pcard1, .pcard2, .pcard3, .pcard4 {
    padding: 1%;
  }
  
  .prod-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
    border: 1px solid;
    margin: auto;
    text-align: left;
    font-family: arial;
    background-color: #AF8683;
  }
  
  .prod-contain h1, .prod-contain p {
    padding-left: 5%;
    margin: 5% 0%;
  }
  
  .prod-contain {
    border-bottom: 1px solid;
  }
  
  .prod-card h1 {
    font-size: 20px;
  }
  
  .price {
    font-size: 25px;
  }
  
  .prod-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #573B38;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .prod-card button span {
    position: relative;
    left: 10px;
    bottom: 4px;
  }
  
  .prod-card button:hover {
    opacity: 0.7;
  }
  
  .image {
    background-color: #CCC7C7;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid;
  }
  
  .fa-heart-o {
    color: #573B38;
    font-size: 30px;
    position: relative;
    left: 82%;
    top: 3%;
  }
  
  .fa-heart-o:hover {
    color: #AF8683;
  }
  
  .rating-stars {
    padding-left:3%;
    margin-bottom: -12%;
    position: relative;
    bottom: 20px;
  }
  
  #star-icon {
    color: #573B38;
    font-size: 45px;
  }
  
  #star-icon:hover {
    color: #A06F6A;
  } */