.wishlist-contain {
  margin: 3%;
  /* display: grid;
  grid-template-columns: .3fr .8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

/* .account-nav {
  grid-area: 1 / 1 / 2 / 2;
}
*/

.wishlist {
  /* grid-area: 1 / 2 / 2 / 3; */
  width: 58%;
  margin-left: 31%;
  margin-top: -47%;
}
