.wishlist-contain {
  margin: 3%;
}

.wishlist {
  margin-left: 31%;
  margin-top: -38%;
}

.wishlist-empty {
  width: 100%;
  height: 25rem;
}

/* .ew-icon {
  position: relative;
  top: 3rem;
  left: 31rem;
  height: 12rem;
  width: 12rem;
}

.ew-icon img {
  height: 100%;
  width: 100%;
  object-fit: fill;
} */

.wcards-contain {
  position: relative;
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: .7fr;
  grid-column-gap: 0px;
  grid-row-gap: 38px;
}

#wishlist-remove {
  background: transparent;
  color: #573B38;
  font-size: 26px !important;
  position: relative;
  bottom: 14.8rem;
  left: 6.2rem;
}

